# Imports

In [1]:
import os
os.makedirs("Data/",exist_ok=True)
os.listdir("Data/")

[]

In [2]:
import pandas as pd
import numpy as np

# Load in Data

In [3]:
basics = pd.read_csv('Data/title.basics.tsv.gz', sep='\t', low_memory=False)

In [4]:
aka = pd.read_csv('Data/title-akas-us-only.csv', low_memory=False)

In [5]:
ratings = pd.read_csv('Data/title.ratings.tsv.gz', sep='\t', low_memory=False)

In [6]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1989
1  tt0000002            5.8       264
2  tt0000003            6.5      1866
3  tt0000004            5.5       177
4  tt0000005            6.2      2648

In [7]:
aka.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
1,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
2,tt0000005,10,Blacksmith Scene,US,\N,imdbDisplay,\N,0
3,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
4,tt0000005,6,Blacksmith Scene #1,US,\N,alternative,\N,0

In [8]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

# Preprocessing

## Keep only US movies (Use AKAs table, see "Filtering one dataframe based on another" section below)

In [9]:
filtered_aka = aka[aka['region'] == "US"]
filtered_aka

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
1,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
2,tt0000005,10,Blacksmith Scene,US,\N,imdbDisplay,\N,0
3,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
4,tt0000005,6,Blacksmith Scene #1,US,\N,alternative,\N,0
...,...,...,...,...,...,...,...,...
1452559,tt9916560,1,March of Dimes Presents: Once Upon a Dime,US,\N,imdbDisplay,\N,0
1452560,tt9916620,1,The Copeland Case,US,\N,imdbDisplay,\N,0
1452561,tt9916702,1,Loving London: The Playground,US,\N,\N,\N,0
1452562,tt9916756,1,Pretty Pretty Black Girl,US,\N,imdbDisplay,\N,0
1452563,tt9916764,1,38,US,\N,imdbDisplay,\N,0

## Replace "\N" with np.nan

In [10]:
# Replacing "\N" with np.nan
filtered_aka = filtered_aka.replace({'\\N':np.nan})
filtered_aka

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0
...,...,...,...,...,...,...,...,...
1452559,tt9916560,1,March of Dimes Presents: Once Upon a Dime,US,NaN,imdbDisplay,NaN,0
1452560,tt9916620,1,The Copeland Case,US,NaN,imdbDisplay,NaN,0
1452561,tt9916702,1,Loving London: The Playground,US,NaN,NaN,NaN,0
1452562,tt9916756,1,Pretty Pretty Black Girl,US,NaN,imdbDisplay,NaN,0
1452563,tt9916764,1,38,US,NaN,imdbDisplay,NaN,0

## Eliminate movies that are null for runtimeMinutes and genres

In [11]:
# Replacing "\N" with np.nan
basics_filtered = basics.copy()
basics_filtered = basics_filtered.replace({'\\N':np.nan})
basics_filtered.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [12]:
# Eliminating movies with null runtimeMinutes and genres
basics_filtered.dropna(subset=['runtimeMinutes','genres'], inplace=True)
basics_filtered.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [13]:
basics_filtered['titleType'].nunique()

10

In [14]:
basics_filtered['titleType'].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvSeries', 'tvEpisode',
       'tvMiniSeries', 'video', 'tvSpecial', 'videoGame'], dtype=object)

## Keep only titleType==Movie

In [15]:
basics_filtered = basics_filtered[basics_filtered['titleType'] == "movie"]
basics_filtered.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"

# Include only movies that were released 2000 - 2021 (include 2000 and 2021)

In [16]:
basics_filtered['startYear']=basics_filtered['startYear'].astype(float)
basics_filtered.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894.0,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897.0,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906.0,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907.0,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908.0,NaN,120,"Adventure,Fantasy"

In [17]:
# Identify string columns 
#string_columns = basics_filtered.select_dtypes(include=['object']).columns

# Fill missing values in string columns 
#basics_filtered[string_columns] = basics_filtered[string_columns].fillna('Unknown')
#basics_filtered.head()

In [18]:
basics_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 387939 entries, 8 to 10113234
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          387939 non-null  object
 1   titleType       387939 non-null  object
 2   primaryTitle    387939 non-null  object
 3   originalTitle   387939 non-null  object
 4   isAdult         387939 non-null  object
 5   startYear       381361 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  387939 non-null  object
 8   genres          387939 non-null  object
dtypes: float64(1), object(8)
memory usage: 29.6+ MB

In [19]:
basics_filtered = basics_filtered[(basics_filtered['startYear'] >= 2000) & (basics_filtered['startYear'] <= 2021)]
basics_filtered.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13081,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,NaN,94,Documentary
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61112,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67486,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
67664,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama

## Include only fictional movies (not from the Documentary genre)

In [20]:
# Exclude movies that are included in the documentary category.
is_documentary = basics_filtered['genres'].str.contains('Documentary',case=False)
basics_filtered = basics_filtered[~is_documentary]
basics_filtered.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61112,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67486,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
67664,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86791,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"

## Filtering Basics Based on AKA

In [21]:
# Use the rename() method to rename the columns
basics_filtered = basics_filtered.rename(columns={'tconst': 'titleId'})

In [22]:
basics_filtered = basics_filtered.merge(filtered_aka, on='titleId', how='inner')
selected_columns = ['titleId','titleType','primaryTitle','originalTitle','isAdult','startYear','endYear','runtimeMinutes','genres']

basics_filtered = basics_filtered[selected_columns]

basics_filtered.head()

,titleId,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
3,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
4,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama

## Filtering Ratings based on Basics

In [23]:
ratings_filtered = ratings.copy()

# Use the rename() method to rename the columns
ratings_filtered = ratings_filtered.rename(columns={'tconst': 'titleId'})

ratings_filtered = ratings_filtered.merge(basics_filtered, on='titleId', how='inner')

selected_columns = ['titleId', 'averageRating', 'numVotes']

ratings_filtered = ratings_filtered[selected_columns]

ratings_filtered.head()

     titleId  averageRating  numVotes
0  tt0035423            6.4     87388
1  tt0035423            6.4     87388
2  tt0062336            6.4       179
3  tt0068865            5.4        75
4  tt0069049            6.7      7803

## Filtered Dataset

In [24]:
ratings_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77212 entries, 0 to 77211
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   titleId        77212 non-null  object
 1   averageRating  77212 non-null  float64
 2   numVotes       77212 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.4+ MB

In [25]:
basics_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91374 entries, 0 to 91373
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   titleId         91374 non-null  object
 1   titleType       91374 non-null  object
 2   primaryTitle    91374 non-null  object
 3   originalTitle   91374 non-null  object
 4   isAdult         91374 non-null  object
 5   startYear       91374 non-null  float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  91374 non-null  object
 8   genres          91374 non-null  object
dtypes: float64(1), object(8)
memory usage: 7.0+ MB

In [26]:
filtered_aka.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1452564 entries, 0 to 1452563
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1452564 non-null  object
 1   ordering         1452564 non-null  int64
 2   title            1452564 non-null  object
 3   region           1452564 non-null  object
 4   language         4018 non-null     object
 5   types            981678 non-null   object
 6   attributes       47016 non-null    object
 7   isOriginalTitle  1451222 non-null  object
dtypes: int64(1), object(7)
memory usage: 99.7+ MB

# Saving file

In [27]:
## Save current dataframe to file.
basics_filtered.to_csv("Data/title_basics_filtered.csv.gz",compression='gzip',index=False)

In [28]:
## Save current dataframe to file.
ratings_filtered.to_csv("Data/title_ratings_filtered.csv.gz",compression='gzip',index=False)

In [29]:
filtered_aka.to_csv("Data/title-akas-us-only_filtered.csv",index=False)

In [30]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics_filtered.csv.gz", low_memory = False)
basics.head(15)

,titleId,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
3,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
4,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
5,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
6,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
7,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama
8,tt0100275,movie,The Wandering Soap Opera,La Telenovela Errante,0,2017.0,NaN,80,"Comedy,Drama,Fantasy"
9,tt0103340,movie,Life for Life: Maximilian Kolbe,Zycie za zycie. Maksymilian Kolbe,0,2006.0,NaN,90,"Biography,Drama"
10,tt0108549,movie,West from North Goes South,West from North Goes South,0,2004.0,NaN,96,"Comedy,Mystery"
11,tt0113026,movie,The Fantasticks,The Fantasticks,0,2000.0,NaN,86,"Musical,Romance"
12,tt0113092,movie,For the Cause,For the Cause,0,2000.0,NaN,100,"Action,Adventure,Drama"
13,tt0113092,movie,For the Cause,For the Cause,0,2000.0,NaN,100,"Action,Adventure,Drama"
14,tt0114447,movie,The Silent Force,The Silent Force,0,2001.0,NaN,90,Action

In [31]:
aka = pd.read_csv("Data/title-akas-us-only_filtered.csv", low_memory = False)
aka.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [32]:
# Open saved file and preview again
ratings = pd.read_csv("Data/title_ratings_filtered.csv.gz", low_memory = False)
ratings.head()

     titleId  averageRating  numVotes
0  tt0035423            6.4     87388
1  tt0035423            6.4     87388
2  tt0062336            6.4       179
3  tt0068865            5.4        75
4  tt0069049            6.7      7803